*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cabecalho, .width-max, .contato, .direitos{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    font-family: 'source sans pro',sans-serif;
    text-align: center;
}
.fixed{
    position: fixed;
    width: 100%;
    background-color: #fff;
}
.cabecalho, .rodape div:last-of-type{
    height: 80px;
}
.cabecalho{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap ;
    background-color: #fff;
}
.texto{
    width: 50%;
    font-weight: 600;
    display: flex;
}
.texto a{
    color: rgb(33, 108, 221);
    text-decoration: none;
    padding: 4px 5px;
    
}
.texto a:hover, .navegacao a:hover{
    box-shadow: 0 0px 5px 1px #0a9077b3;
    border-radius: 5px;
}
.navegacao{
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
.navegacao a{
    text-decoration: none;
    padding: 4px 5px;
}
.texto, .navegacao a{
    font-size: 20px;
    color: #3d3d3d;
}
.banner{
    width: 100%;
    height: 500px;
    background-image: url('../img/img-fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.width-max div:first-of-type{
    padding-top:5px ;
}
.width-max h2{
    font-size: 30px;
    color: #3d3d3d;
    font-weight: 500;
    text-transform: uppercase;
    margin: 80px 0 30px;
    text-shadow:5px 5px 5px  #3d3d3d;
}

.width-max p{
    font-size: 18px;
}
.galeria-quartos{
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
   width:300px;
   display: flex;
   flex-grow: 1;
}
.card img{
    width:100%;
    height: 100%;
    box-shadow: 0px 0px 7px 1px #0a9077b3;
    border-radius: 5px;
}
.info{
    margin-bottom: 50px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 900px;
    margin: 20px auto 0;
}
li{
    width: 190px;
    text-align: justify;
    color: #3d3d3d;
    font-size: 18px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.bottom{
    display: flex;
    justify-content: space-between ;
}
.contato{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    color: #fff;
    border-bottom: 2px solid #03836bb3 ;
}
.contato div:first-child{
    font-size: 20px;
    font-weight: bold;
}
.contato div{
    width: 200px;
    margin-top: 15px; 
}
.contato p{
    color: #fff;
}
.end p::before{
    content: '    ';
    background-image: url('../img/icones/endereco.png');
    background-size: 35px;
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-bottom: 40px;
}
.cel p::before{
    content: '    ';
    background-image: url('../img/icones/telefone.png');
    background-size: 35px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-bottom: 40px;
}
.res a::before{
    content: '    ';
    background-image: url('../img/icones/calendario.png');
    background-size: 35px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-bottom: 40px;
}
.res a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.res a:hover{
    color: #3d3d3d;
    font-weight: bold;


}
.rodape{
    width: 100%;
     background-color:#0a9077b3 ;
}
.direitos p{
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
    padding-top: 10px;
}
.direitos span{
    color: #3d3d3d;
    font-size: 15px;
    font-weight: 600;
}
.direitos p:last-of-type{
    display: inline;
} 
.direitos img{
    width: 28px;
    border-radius: 50%;
    margin-left: 5px;
    margin-bottom: -10px;
}
.direitos img:hover{
    box-shadow: 0 0 10px 1px yellow;
}
h3{
    font-size: 22px;
    font-weight: 600;
}
